* {
	margin: 0;
	padding: 0;
}
.kontejner {
	background: url("http://static.panoramio.com/photos/large/3383609.jpg");
	background-size: cover;
	height: 100vh;
}
.dugmeta {
	margin: 0 auto; 
	width: 100%; 
	text-align: center;
}
.dugmeta button {
	width: 200px;
	height: 20px;
	font-family: Merriweather, Arial;
	background-color: #e7e7e7;
	border-radius:6px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border:none;
}
button:hover {
	border: none;
    background:#4CAF50;
    color: #fff;
    transition: 0.5s;
}
.desno {
	position:absolute;
	left: 90%;
	bottom: 180px;
	display: none;
}
.levo {
	position:absolute;
	right: 90%;
	top:210px;
	display: none;
	width: 300px;
}

